<html>
	<div id="airtime-page" >
		<div class="main-text" > Airtime </div>
		<div class="main-title"> Select Reciever</div>

		<ul class="airtime-to">
			<li>
				<input type="radio" id="mynumber" name="airtime-number" value="self" checked />
				<label for="mynumber">Me</label>
			</li>
			<div id="airtime_clear"> </div>
			<li>
				<input type="radio" id="tonumber" name="airtime-number" value="friend" />
				<label for="tonumber"></label>
				<input id="airtime_cellnum"/>
			</li>
		</ul>
		<div class="main-title"> Select Vendor</div>
		<ul class="airtime-list">
			<!-- 
			<li>
				<input type="radio" id="voda" name="airtime" checked />
				<label for="voda">Vodacom</label>
			</li>
			<div id="airtime_clear"> </div>
			<li>
				<input type="radio" id="mtn" name="airtime" />
				<label for="mtn">MTN</label>
			</li>
			<div id="airtime_clear"> </div>
			<li>
				<input type="radio" id="cellc" name="airtime" />
				<label for="cellc">Cell C</label>
			</li>
			<div id="airtime_clear"> </div>
			<li>
				<input type="radio" id="virgin" name="airtime" />
				<label for="virgin">Virgin Mobile</label>
			</li>
			<div id="airtime_clear"> </div>
			<li>
				<input type="radio" id="telkom" name="airtime" />
				<label for="telkom">Telkom</label>
			</li>
			<div id="airtime_clear"> </div>
			<li>
				<input type="radio" id="world" name="airtime" />
				<label for="world">World Call</label>
			</li>
			-->
		</ul>
	</div>
	<div class="footer">
		<div class="red-btn" style="float: left; margin: 5px 0px; " onclick="previousPage()"> Back </div>
		<div class="red-btn" style="float: right; margin: 5px 0px; ">
			<a id="next-voucher" href="#home-page/voucher-page"> Next  </a>
		</div>
	</div>
</html>
<script>

</script>
