<html>
	
	<div id="transfer-confirm-container">
		<div id="confirm-message" style="display: block"> </div>
		<div id="transfer-results" style="display: none;">
			<div class="label"> Destination number :  </div>  <div id="transfer-DESTNUM" class="data"> </div>
			<div class="label"> Amount :  </div>  <div id="transfer-AMOUNT" class="data"> </div>
			<div class="label"> Current Balance :  </div>  <div id="transfer-CURBALANCE" class="data"> </div>
			<div class="label"> Reference :  </div>  <div id="transfer-REFERENCE" class="data"> </div>
			<div class="label"> Transfer Reference :  </div>  <div id="transfer-TRANSREF" class="data"> </div>
		</div>
	</div>
	<div class="footer">
		<div class="red-btn" style="float: right; margin: 5px 0px; ">
			<a id="next-voucher" href="#home-page"> Ok  </a>
		</div>
	</div>
</html>
