<html>
	
	<div id="electricity-confirm-container">
		<div id="confirm-message" style="display: block"> </div>
		<div id="electricity-results" style="display: none;">
			<div class="label"> Amount :  </div>  <div id="meter-amount" class="data"> </div>
			<div class="label"> Voucher Number :  </div>  <div id="meter-voucher" class="data"> </div>
			<div class="label"> Free Voucher Number :  </div>  <div id="meter-voucher-free" class="data"> </div>
			<div class="label"> Meter Number :  </div>  <div id="meter-num" class="data"> </div>
			<div class="label"> Serial Number :  </div>  <div id="meter-serial" class="data"> </div>
		</div>
	</div>
	<div class="footer">
		<div class="red-btn" style="float: right; margin: 5px 0px; ">
			<a id="next-voucher" href="#profile-page"> Ok  </a>
		</div>
	</div>
</html>

