<html>
	<div class="main-text"> Electricity </div>
	<div class="main-title"> Choose meter </div>

	<div id="electricity-container">
		<select id="meters" >
			<!-- callback data goes here -->
		</select>
		<div class="main-title" style="margin: 1% 0%;"> Meter Number </div>
		<input type="text" name="meter-numhber"	id="meter-number" />
		<div class="main-title" style="margin: 1% 0%;"> Enter amount </div>
		<input type="text" name="meter-amount"	id="meter-amount" />
	</div>

	<div class="footer">
		<div class="red-btn" style="float: left; margin: 5px 0px; " onclick="previousPage()" > Back </div>
		<div class="red-btn" style="float: right; margin: 5px 0px; ">
			<a id="next-voucher" href="#home-page/electricity-confirm-page"> Buy </a>
		</div>
	</div>
</html>
