<html>
	<div id="limits-container">
		<div class="main-text"> My Limits </div>
		<div class="main-title"> Monthly e-Token Transfer </div>
		<input type="text" name="monthly-e-token"	id="monthly-e-token" />

		<div class="main-title"> Daily e-Token Transfer </div>
		<input type="text" name="daily-e-token"	id="daily-e-token" />

		<div class="main-title">e-Token Transfer </div>
		<input type="text" name="e-token-transfer"	id="e-token-transfer" />

		<div class="main-title"> Monthly payment Limit </div>
		<input type="text" name="monthly-payment-limit"	id="monthly-payment-limit" />

		<div class="main-title"> Daily payment Limit </div>
		<input type="text" name="daily-payment-limit"	id="daily-payment-limit" />

		<div class="main-title"> Payment Limit </div>
		<input type="text" name="payment-limit"	id="payment-limit" />

		<div class="main-title"> Monthly e-Wallet Limit </div>
		<input type="text" name="monthly-e-wallet"	id="monthly-e-wallet"/>

		<div class="main-title"> Daily e-Wallet Limit </div>
		<input type="text" name="daily-e-wallet"	id="daily-e-wallet" />
	</div>
	<div class="footer">
		<div class="red-btn" style="float: left; margin: 5px 0px; " onclick="previousPage()" > Back </div>
		<div class="red-btn" style="float: right; margin: 5px 0px; ">
			<a id="next-voucher" href="#profile-page/limits-confirm-page"> Save </a>
		</div>
	</div>
</html>
