<html>
	<div id="lock-container">
		<div class="main-text"> Lock Account </div>
		<div class="main-title"> Enter password</div>
		<input type="text" name="lockpass"	id="lockpass" placeholder="Enter Password"/>
	</div>
	<div class="footer">
		<div class="red-btn" style="float: left; margin: 5px 0px; " onclick="previousPage()" > Back </div>
		<div class="red-btn" style="float: right; margin: 5px 0px; ">
			<a id="next-voucher" href="#profile-page/lock-confirm-page"> Lock </a>
		</div>
	</div>
</html>
