<html>
	<div id="login-page" >
		<div class="main-text"> Login </div>
		<div class="main-title"> Enter details below </div>

		<div class="input-container">
			<input type="text" name="cellnum" id="username" data-bind="value: username" />
			<input type="text" name="password" id="password" data-bind="value: password" />
		</div>
		<div class="login-container">
			<div class="red-btn" style="float: right; margin: 5px 0px; " data-bind="click: tryLogin"> Login </div>
			<div class="forgot-lnk" id="app-logo" > <a id="app-logo" href="#forgot-password"> Forgot Password  </a> </div>
			<div class="register-lnk" id="logout-link"> <a id="app-logo" href="#register"> Register </a></div>
		</div>
		<div class="auto-page-message">Autopage my wallet is a unique service provided for users of pre-paid billing services. </div>
	</div>
</html>
