<html>
	<div class="main-text"> My Meters </div>
	<div class="meters-container">
		<div class="main-title"> Name </div>
		<input type="text" name="meter-name-0"	id="meter-name-0" />
		<div class="main-title"> Number </div>
		<input type="text" name="meter-number-0"	id="meter-number-0" />
	</div>

	<div class="meters-container">
		<div class="main-title"> Name </div>
		<input type="text" name="meter-name-1"	id="meter-name-1" />
		<div class="main-title"> Number </div>
		<input type="text" name="meter-number-1"	id="meter-number-1" />
	</div>

	<div class="meters-container">
		<div class="main-title"> Name </div>
		<input type="text" name="meter-name-2"	id="meter-name-2" />
		<div class="main-title"> Number </div>
		<input type="text" name="meter-number-2"	id="meter-number-2" />
	</div>
	<div class="footer">
		<div class="red-btn" style="float: left; margin: 5px 5px; " onclick="previousPage()" > Back </div>
		<div class="red-btn" style="float: right; margin: 5px 5px; ">
			<a id="next-voucher" href="#profile-page/meters-confirm-page"> Save </a>
		</div>
	</div>

</html>
