<html>
	<div id="password-container">
		<div class="main-text"> Password </div>
		<div class="main-title"> Change my password</div>
		<input type="text" name="oldpass"	id="oldpass" placeholder="Old Password" />
		<input type="text" name="newpass"	id="newpass" placeholder="New Password"/>
		<input type="text" name="confpass"	id="confpass" placeholder="Confirm Password"/>
	</div>
	<div class="footer">
		<div class="red-btn" style="float: left; margin: 5px 0px; " onclick="previousPage()" > Back </div>
		<div class="red-btn" style="float: right; margin: 5px 0px; ">
			<a id="next-voucher" href="#profile-page/password-confirm"> Confirm</a>
		</div>
	</div>

</html>
