<html>
	<div id="transfer-container">
		<div class="main-text"> e-Money </div>
		<div class="main-title">Transfer e-money</div>

		<div class="main-text"> Amount  </div>
		<input type="text" name="amount"		id="transfer-amount" placeholder="Amount" />

		<div class="main-text"> Transfer Reference  </div>
		<input type="text" name="transfer-ref"	id="transfer-ref" placeholder="Transfer Ref" />

		<div class="main-text"> Transfer Cellnum  </div>
		<input type="text" name="transfer-cell"	id="transfer-destnumber" placeholder="Transfer Cellnum" />
	</div>
	<div class="footer">
		<div class="red-btn" style="float: left; margin: 5px 0px; " onclick="previousPage()" > Back </div>
		<div class="red-btn" style="float: right; margin: 5px 0px; ">
			<a id="next-voucher" href="#home-page/transfer-confirm-page"> Save </a>
		</div>
	</div>
</html>
