<html>
	<div id="profile-container">
		<div class="main-text"> Profile </div>
		<div class="main-title"> Personal Details</div>

		<div class="profile-label"> Name </div> <div class="profile-label" id="NAME" data-bind="profile_data_name"  > DDDD</div>
		<div class="profile-label"> Surname</div> <div class="profile-label" id="SURNAME"> Carstens</div>
		<div class="profile-label"> Mobile no</div> <div class="profile-label" id="MOBILE"> 10111</div>
		<div class="profile-label"> ID </div> <div class="profile-label" id="IDNUM"> xxxxxx</div>
		<div class="profile-label"> Balance </div> <div class="profile-label" id="CURBALANCE"> R90.34</div>
	</div>
	<div class="footer">
		<div class="red-btn" style="float: left; margin: 5px 0px; " onclick="previousPage()" > Back </div>
	</div>

</html>
