<html>
	<div id="voucher-page-confirm-container" >
		<div class="main-text" > Airtime </div>
		<div class="voucher-container">
			<div class="voucher-label"> Voucher </div>
			<div class="voucher-data" id="voucher-number">   </div>
		</div>

		<div class="voucher-container">
			<div class="voucher-label"> Number </div>
			<div class="voucher-data" id="voucher-cellnumber">   </div>
		</div>
	</div>
	<div class="footer">
		<div class="red-btn" style="float: left; margin: 5px 5px; " onclick="previousPage()" > Back </div>
		<div class="red-btn" style="float: right; margin: 5px 0px; ">
			<a id="next-voucher" href="#home-page/voucher-page-request"> Confirm  </a>
		</div>
	</div>
</html>
<style>
#voucher-page-confirm{
	width: 99%;
	margin-left: 1%;
	float: left;
	margin-bottom: 20px;
	height: 96%;
}
#voucher-page-confirm #voucher-page-confirm-container{
	width: 100%;
	height: 90%;
}

#voucher-page-confirm .voucher-container {
	width: 100%;
}
#voucher-page-confirm .voucher-container .voucher-label{
	width: 50%;
	float: left;
	margin-left: 1%;
}
#voucher-page-confirm .voucher-container .voucher-data{
	width: 40%;
	float: left;
}
</style>
